{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kayıt Formu</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <h1>Today create a SeismoScope Account</h1>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% if error %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
      {% endif %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" value="{{ username }}" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" value="{{ pasword }}" required>

      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" value="{{ email }}" required>

      <label for="country">Country:</label>
      
      <select id="country" name="country" value="{{ country }}" ></select>

      <button type="submit">Sign Up</button>
    </form>
    <p>Already have SeismoScope account? <a href="/login/">Login</a></p>
  </div>

  <script>
    async function fetchCountries() {
      try {
        const response = await fetch('https://restcountries.com/v3.1/all');
        const countries = await response.json();

        // Ülkeleri alfabetik olarak sırala
        countries.sort((a, b) => a.name.common.localeCompare(b.name.common));

        const countrySelect = document.getElementById('country');

        countries.forEach(country => {
          const countryName = country.name.common;
          const option = document.createElement('option');
          option.value = countryName;
          option.textContent = countryName;
          countrySelect.appendChild(option);
        });
      } catch (error) {
        console.error('Hata:', error.message);
      }
    }

    fetchCountries();
  </script>
</body>
</html>